{
  "globals": {
    "WCT": false,
    "suite": false,
    "setup": false,
    "teardown": false,
    "test": false,
    "fixture": false,
    "a11ySuite": false,
    "expect": false,
    "sinon": false
  }
}
